@import '../../../Design//variables.scss';
.contactForm{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
        position: relative;

        @include MQ(1170px){
            width: 90%;
        }
        h4{
            color: white;
            font-family: $Roboto;
            font-weight: 400;
            margin-bottom: 5px;
            font-size: 14px;
            @include MinQ(1600px){
                font-size: 18px;
            }
            @include MQ(1070px){
                font-size: 14px;
             }
             @include MQ(800px){
                font-size: 10px;
             }

        }
        div{
            display: flex;
            justify-content: space-between;

            input {
                width: 48%;
            }
        }
        input, select {
            box-sizing: border-box;
            border-radius: 5px;
            height: 28px;
            width: 100%;
            margin: 5px 0;
            padding: 0 15px;
            outline: none;
            font-family: $Roboto;
            @include MinQ(1600px){
                font-size: 18px;
            }
             @include MQ(1070px){
                font-size: 14px;
             }
             @include MQ(800px){
                font-size: 10px;
             }
        }
     
          select {
            color: black; // color of the selected option
            background-color: white;
            option {
              color: black; // color of all the other options
              background-color: white;
            }
       }
        button{
            color: white;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 5px;
            width: 70px;
            position: absolute;
            bottom: -30px;
            right: -40px;
            font-family: $Roboto;
            @include MinQ(1600px){
                font-size: 18px;
                width: 90px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
