@import "../../Design/variables.scss";
@import "../../Design/mixins.scss";
#aboutWrapper {
    height: 100vh;

    // @include MQ(1280px) {
    //     margin-bottom: 50px;
    // }

    @include MinH(800px) {
        margin-bottom: -20px !important;
    }
    @include MQ(1170px) {
        height: 60vh;
        margin-bottom: 0;
    }
    @include MQ(800px) {
        height: 75vh;
        margin-bottom: 80px;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            margin-top: 20px;
            width: 200px;
            @include MinQ(1600px) {
                width: 260px;
            }
            @include MQ(1280px) {
                margin-top: 10px;
                width: 170px;
            }
            @include MQ(1170px) {
                margin-top: 40px;
                width: 200px;
            }
            @include MQ(800px) {
                margin-top: 40px;
                width: 150px;
            }
        }

        div {
            text-align: center;
            width: 50%;
            border-bottom: 1px solid white;
            border-top: 1px solid white;
            padding: 20px;
            margin-top: 40px;
            @include MinQ(1600px) {
                margin-top: 80px;
            }
            @include MQ(1280px) {
                margin-top: 20px;
                padding: 10px;
            }
            @include MQ(1170px) {
                width: 80%;
            }

            p {
                @include p;
                @include MinQ(1600px) {
                    font-size: 20px;
                }
                @include MQ(1280px) {
                    font-size: 14px;
                }
                @include MQ(1025px) {
                    font-size: 18px;
                }
                @include MQ(800px) {
                    font-size: 14px;
                }
            }
        }
    }
}
