@import '../../Design/variables.scss';
#firstTimeLoginPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
    width: 40%;
    img{
        width: 200px;
    }

    h4{
        color: white;
        font-family: $Roboto;
        font-weight: 400;
        width: 80%;
    }
}