@import '../../../Design/variables.scss';
#adminHeader {
    color: white;
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: flex-end;

    ul {
        display: flex;
        justify-content: space-between;
        justify-self: flex-end;
    }
    li {
        list-style: none;
        font-family: $Mont;
        text-transform: uppercase;
        font-size: 24px;
        margin:0 20px;

        &:hover{
            cursor: pointer;
        }
    }
}