@import "../../Design/variables.scss";
#packages {
    display: flex;
    flex-direction: column;
    
    main {
        margin: 60px auto 20px auto;
        width: 75%;
        display: flex;
        justify-content: space-around;

        @include MQ(1300px) {
            width: 85%;
        }
        @include MQ(1214px) {
            width: 90%;
        }
        // @include MQ(1170px) {
        //     flex-direction: column;
        //     align-items: center;
        //     margin: 20px auto 30px auto;
        // }
        @include MQ(800px) {
            flex-direction: column;
            align-items: center;
            margin: 20px auto 30px auto;
        }

    }
    #sectionEnquire {
        position: relative;
        height: 100vh;
        @include MQ(1080px) {
            height: auto;
            margin-top: -200px;
        }
        @include MQ(800px) {
            height: 100vh;
        }
    }
    #enquire {
        width: 80%;
        padding-top: 20px;
        margin: 40px auto 40px auto;
        @include MinQ(1600px){
            padding: 90px 0
        }
        @include MQ(1280px) {
            padding-top: 80px;
        }
        @include MQ(1080px) {
            padding-top: 0px;
            margin-top: -200px;
        }
        @include MQ(800px) {
            padding-top: 80px;
            margin: 40px auto 40px auto;
        }

      
        @include MH(860px){
            padding-top: 640px;
        }
        @include MH(750px){
            padding-top: 620px;
        }
        header {
            width: 50%;
            color: white;
            margin: 0 auto;

            @include MQ(1170px) {
                width: 90%;
            }
            h3 {
                font-weight: 400;
                font-size: 16px;
                font-family: $Roboto;
                margin-top: 0;
                margin-bottom: 0px;
                @include MinQ(1600px){
                    font-size: 18px
                }
                @include MQ(1070px) {
                    font-size: 14px;
                }
                @include MQ(800px) {
                    font-size: 10px;
                }
            }
        }
    }
}
