@import "../../../Design/variables.scss";
@import "../../../Design/mixins.scss";

#homeHeaderWrapper {
    width: 97%;
    @include flexBetween;
    margin: 15px auto;
    position: relative;
    a {
        @include navLink;
        @include MinQ(1600px){
            font-size: 24px
        }
        @include MQ(1180px) {
            font-size: 1rem;
        }
    }
}
