@import "../../../Design/variables.scss";

#messages {
    width: 80%;
    margin: 20px auto;

    header {
        text-align: center;
        font-family: $Mont;
        background: #EDEDED;
        border-radius: 5px;
    }

    main {
        background-color: #EDEDED;
        border-radius: 5px;
        padding: 10px;
    }
    #messsage{
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 5px auto;
        box-shadow: 0px 0px 7px 2px rgb(0, 0,0,0.3);
        border-radius: 5px;
    }

    h3, h4{
        font-family: $Mont;
        margin: 5px;

    }

    #leftSideMessage{
        flex-direction: column;
        width: 30%;
        border-right: 3px solid black;
        h4{
            font-style: italic;
        }
    }
    #rightSideMessage{
        flex-direction: column;
        width: 70%;
        
        h3{
            border-bottom: 2px solid black;
            text-align: center;
            margin: 5px;
        }
    }

    p{
        width:90%;
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
        font-family: $Roboto;
        font-weight: 100;
        margin: 5px;
    }
}
