@import "../../../Design/variables.scss";
@import "../../../Design/mixins.scss";


#loginFirstSettings{
        width: 100% !important;
        h1 {
            color: white;
            text-transform: uppercase;
            font-family: $Mont;
            font-weight: 400;
            text-align: center;
        }
     
    
        form {
            width: 100%;
            position: relative;
         
            #uploadImageButton{
                position: absolute;
                width: 60px;
                text-align: center;
                font-size: 10px;
                height: 20px;
                padding: 0;
                border: none;
                top:5px;
                right: 5px;

                &:hover{
                    cursor: pointer;
                }
            }
            button {
                @include p;
                border-radius: 5px;
                background-color: transparent;
                font-size: 18px;
                align-self: flex-end;
                border: 1px solid white;
                width: 80px;
                position: absolute;
                right: -20px;
                bottom: -40px;
    
                &:hover {
                    cursor: pointer;
                }
            }
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100% !important;
            margin: 5px auto;
            position: relative;

        p{
           @include p;
            margin: 5px;
            font-size: 12px;
        }
        section{
            position: relative;
            width: 48%;
            input{
                width: 100%  !important;
            }
        }

        img{
            width: 30px;
            position: absolute;
            right: 2px;
            &:hover{
                cursor: pointer;
            }
        }
            input {
                width: 100%;
                box-sizing: border-box;
                border-radius: 5px;
                height: 30px;
                padding: 0 15px;
              
            }
           #pickColor{
                width: 48%;
           }
            
        }
    }
    
