@import "../../Design/variables.scss";
#packageCard {
    border: 2px solid white;
    max-width: 320px;
    padding: 5px;
    border-radius: 10px;
    @include MinQ(1600px) {
        max-width: 360px;
    }
    @include MQ(1170px) {
        max-width: 320px;
        margin: 10px 5px;
    }
    @include MQ(800px) {
        max-width: 280px;
        margin: 10px 0;
    }
    div {
        background-color: rgb(67, 67, 67, 0.5);
        border-radius: 10px;
        box-sizing: border-box;
        border: none;
        height: 100%;
        width: 100%;
        header {
            width: 80%;
            margin: 0 auto;
            align-items: flex-start;
            justify-content: center;
            position: relative;
            padding: 15px;
            @include MQ(1170px) {
                padding: 5px;
            }
            h1 {
                margin: 0;
                font-family: $Mont;
                font-weight: 300;
                color: white;
                text-align: center;
                text-transform: uppercase;
                @include MinQ(1600px) {
                    font-size: 28px;
                }
                @include MQ(1170px) {
                    font-size: 20px;
                }
            }
            img {
                width: 80px;
                top: -10px;
                left: -10px;
                position: absolute;
                @include MQ(1170px) {
                    width: 60px;
                }
            }
        }

        section {
            width: 85%;
            margin: 0 auto;
            padding: 10px 0;
            @include MQ(1170px) {
                width: 95%;
            }
            @include MQ(800px) {
                width: 85%;
            }
            p {
                color: white;
                font-family: $Roboto;
                font-weight: 400;
                font-size: 13px;
                padding: 2px 5px;
                line-height: 1.3;
                @include MinQ(1600px) {
                    font-size: 16px;
                }
                @include MQ(1170px) {
                    font-size: 12px;
                    padding: 2px 1px;
                }
                @include MQ(800px) {
                    font-size: 10px;
                }
            }
        }
    }
}
