@import "../../../Design/variables.scss";
@import "../../../Design/mixins.scss";
#addAccount {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    h4 {
        color: white;
        font-family: $Roboto;
        font-weight: 100;
        margin: 2px 0;
        font-size: 19px;
        @include MQ(1280px) {
            font-size: 14px;
        }
    }
    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 15px;

        h4 {
            color: white;
            font-family: $Roboto;
            font-weight: 400;
            font-size: 19px;
            @include MQ(1280px) {
                font-size: 14px;
            }
        }
    }

    svg {
        color: white;
        font-size: 24px;

        &:hover {
            cursor: pointer;
            animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97);
        }
    }

    h3 {
        font-size: 19px;
        color: white;
        font-family: $Roboto;
        font-style: italic;
        font-weight: 700;
        @include MQ(1280px) {
            font-size: 14px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        input {
            width: 100%;
            box-sizing: border-box;
            border-radius: 5px;
            height: 30px;
            padding: 0 15px;
            margin: 5px 0;
            font-family: $Roboto;
        }

        button {
            @include p;
            border-radius: 5px;
            background-color: transparent;
            font-size: 18px;
            align-self: flex-end;
            border: 1px solid white;
            width: 80px;
            margin-top: 15px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@keyframes shake {
    10%,
    90% {
        transform: rotate(10deg);
    }
    40%,
    60% {
        transform: rotate(-10deg);
    }
}
