@import '../../../Design/variables.scss';
@import '../../../Design/mixins.scss';

#videoHomeRowWrapper {
    @include flexBetween;
    width: 96%;
    align-items: center;
    margin: 0 auto;
    @include MinQ(1600px){
        width: 90%;
    }
    @include MQ(1300px) {
        width: 94%;
    }
    @include MQ(1114px) {
        width: 96%;
    }
    @include MQ (800px){
        display: none;
        }
    video {
        width: 100%;
        height: 130px;
        object-fit: cover;
        opacity: 0.52;

        @include MQ(1300px) {
            height: 100px;
        }
        @include MQ(1234px) {
            height: 80px;
        }
    }
    span {
        max-width: 150px;
        position: relative;
        @include MQ(1300px) {
            max-width: 100px;
        }
        @include MQ(1234px) {
            max-width: 80px;
        }

        p {
            color: white;
            font-family: $Mont;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            position: absolute;
            left: 0;
            right: 0;
            @include MQ(1300px) {
                font-size: 14px;
            }
        }

        .videoBox {
            position: absolute;
            bottom: -20%;
            left: -20px;
            width: 125%;
            @include MQ(1300px) {
                bottom: -16%;
                left: -20px;
            }
            @include MQ(1234px) {
                left: -18px;
            }
        }
        .secondVideoBox {
            position: absolute;
            bottom: -16.5%;
            left: -32px;
            width: 135%;

            @include MinQ(1600px){
                left: -37px;
            }

            @include MQ(1300px) {
                bottom: -18%;
                left: -30px;
            }
            @include MQ(1234px) {
                left: -28px;
            }
        }
    }

    #centralVideo {

        //Remove "max-width" when you have the real videos;
        border: 1px solid white;
        max-width: 550px !important;
        height: 320px;
        margin-bottom: 40px;
        position: relative;
        @include MinQ(1600px){
          height: 380px;
          max-width: 700px !important;
            min-width: 600px;
        }
        @include MQ(1600px){
            min-width: 550px;

        }
        @include MQ(1300px) {
            height: 250px;
            max-width: 550px !important;
        }
        @include MQ(1234px) {
            height: 230px;
            min-width: 400px;
            max-width: 530px !important;
        }
        @include MQ(1114px) {
            min-width: 300px;
            height: 200px;
            max-width: 500px !important;
        }
        @include MQ(1060px) {
            max-width: 400px !important;
            min-width: 100px;
        }
        @include MQ(947px) {
            max-width: 350px !important;
            min-width: 100px;

        }
        div {
            margin: 6px auto;
        }
        h2 {
            @include h1;
            text-align: center;
            margin: 25px 0;
            @include MQ(947px) {
              font-size: 18px;
            }
        }

        svg {
            color: white;
            font-size: 64px;
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
        }
    }
    .secondVideo {
        max-width: 180px;
        @include MinQ(1600px){
                max-width: 200px;
        }
        @include MQ(1300px) {
            max-width: 150px;
        }
        @include MQ(1234px) {
            max-width: 130px;
        }
        video {
            width: 100%;
            object-fit: cover;
            height: 180px;
            @include MinQ(1600px){
                height: 200px;
        }
            @include MQ(1300px) {
                height: 150px;
            }
            @include MQ(1234px) {
                height: 130px;
            }
        }
    }
    video[poster]{
        object-fit: cover !important;
        
    }
}
