@import '../../Design/variables.scss';
#strype{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
   
}

#footer {
    position: absolute;
    z-index: -1;
    opacity: 0.1;
    left: -500px;
    top: 800px;
    width: 50%;
    height: 50%;
}
