@import '../../../Design/variables.scss';
#colorPickerWrapper{
    width: 35%;
    margin:10px auto 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #colorButtonWrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            color: white;
            font-family: $Roboto;
            align-self: flex-end;
            border-radius: 5px;
            background-color: transparent;
            font-size: 18px;
            border: 1px solid white;
            margin-top: 15px;
            width: 180px;
            &:hover {
                cursor: pointer;
            }
        }
    }
 
    }