@import '../../../Design/variables.scss';
.headersWrapper{
    position: relative;
    width: 100%;
}
#headerWrapper{
        display: flex;
        justify-content: space-between;
        width: 95%;
        padding: 15px;
        position: relative;

       
        div {
            margin-top: 10px;
            line-height: 45px;
            @include MinQ(1600px){
                margin-top: 15px;
                line-height: 55px;
            }

            h1,
            h2 {
                color: white;
                font-family: $Mont;
                font-weight: 500;
                text-transform: uppercase;
                margin: 0;
            }

            h1 {
                font-size: 56px;
                @include MinQ(1600px){
                    font-size: 66px
                }
            }
            h2 {
                font-size: 35px;
                @include MinQ(1600px){
                    font-size: 45px;
                }
            }
            
        }
}