@import '../../Design/variables.scss';
@import "../../Design/mixins.scss";
#contactWrapper{


    main {
        @include p;
        font-weight: 100;
        width: 40%;
        margin: 90px auto;
        @include MinQ(1600px){
            font-size: 20px;
        }
        @include MQ(1070px){
            width: 90%;
            font-size: 18px;
        }
        @include MQ(800px){
            font-size: 12px;
        }
        p{
            text-align: center;
            margin: 30px 0;
        }

        :last-child{
            margin: 0;
        }
        a{
            @include p;
            font-weight: 600;
            @include MQ(1070px){
                font-size: 18px;
            }
            @include MQ(800px){
                font-size: 12px;
            }
            
            img {
                width: 40px;
              
                @include MQ(800px){
                    width: 30px;
                }
            }
        }
        div{
            display: flex;
            justify-content: space-evenly;
            width: 20%;
            margin:50px auto 0 auto
        }
    }
}