// @import url('../../Assets/images/All-players-with-FX.png');
@import "../../Design/variables.scss";

#homeWrapper {
    background-size: cover;
    height: 95vh;
    background-repeat: no-repeat;
    background-position-y: 45%;
    background-position-x: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

@include MinQ(1400px) {
    background-size:contain;
    background-position-y: 80%;
    background-position-x: -35px;
}
    @include MQ(1280px) {
        background-position-y: 52%;
        background-position-x: -40px;
    }
    @include MQ(1025px) {
        height: 100vh;
        margin-bottom: 20px;
        background-position-x: 100%;
        background-position-y: 100%;
        background-size: 210%;
    }
    @include MQ(600px) {
        height: 100vh;
        margin-bottom: 20px;
        background-position-x: 90% !important;
        background-position-y: 120% !important;
        background-size: 320% !important;
    }
    #homePageLogo {
        width: 16%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12%;
        @include MinQ(1600px){
            width: 16%;
            margin-bottom: 10%;
        }
        @include MQ(1280px) {
            margin-bottom: 20%;
            width: 20%;
        }
        @include MQ(1170px) {
            margin-top: -120%;
            width: 50%;
        }
        @include MQ(1025px) {
            width: 35%;
            margin-top: -80%;
        }
        @include MQ(800px) {
            width: 50%;
            margin-top: -120%;
        }
        @include MQ(415px) {
            width: 45%;
            margin-top: -95%;
        }
        @include MQ(400px) {
            width: 50%;
            margin-top: -120%;
        }
        @include MH(700px) {
            width: 50%;
            margin-top: -100% !important;
        }

        img {
            width: 100%;
        }
        p {
            color: white;
            text-transform: uppercase;
            margin: 0;
            margin-top: -10px;
            width: 120%;
            text-align: center;
            font-family: $Mont;
            font-weight: 400;
            font-size: 14px;
            @include MinQ(1600px){
                width: 110%;
                font-size: 16px;
            }

            @include MQ(1025px) {
                width: 130%;
                font-size: 16px;
                font-weight: 100;
            }
            @include MQ(800px) {
                width: 130%;
                font-size: 12px;
                font-weight: 100;
            }
        }
    }
}
