@import "../../Design/variables.scss";
@import "../../Design/mixins.scss";
#moreVideosWrapper {
    margin-top: 20px;
    @include MQ(1280px){
        margin-top: 10px;
    }
    #textOver {
        border: none;
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: start;
        p{
            @include p;
            margin: 0;
            margin-left: 5px;
        }
    
    }
    h1 {
        @include h1;
        margin: 0;
        font-size: 18px;
    }
    .oneTitle{
        width: 65%;
        margin: 0 auto;

    }

    div {
        display: flex;
        justify-content: center;
        width: 60%;
        margin: 0 auto 20px auto;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    a {
        max-width: 150px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 20px 0 20px;
        p {
            @include h1;
            text-align: center;
            margin: 10px 5px 5px 5px;
            font-size: 0.9em;
        }

        .videoBox {
            position: absolute;
            bottom: 10px;
            left: -18px;
            width: 125%;
        }

        video {
            width: 120px;
            object-fit: cover;
            height: 120px;
            opacity: 0.52;
        }
    }
    a{
        text-decoration: none;
    }
}
