@import "../../../Design/variables.scss";
@import "../../../Design/mixins.scss";
#mobileNav {

    display: flex;
    flex-direction: column;
    width: 100%;

    #mobileHeaderTitle{
        margin-top: 5px;
        line-height: 40px;
        margin-left: 15px;

        h1,
        h2 {
            color: white;
            font-family: $Mont;
            font-weight: 500;
            text-transform: uppercase;
            margin: 0;
        }

        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 32px;
        }
    }
    svg {
        color: white;
        position: absolute;
        right: 2%;
        top: 2%;
        z-index: 2;
        @include MQ(1025px){
            font-size: 52px;

        }
        @include MQ(800px){
        font-size: 36px;
            
        }
    }


    nav {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding-top: 10px !important;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        background-color: black;
        z-index: 1;
    }

    a {
        @include navLink;
        font-weight: 400;
        text-align: center;
        margin: 0;
        border-bottom: 1px solid white;
        width: 100%;
        padding: 2px 0;

        @include MQ(1025px){
            font-size: 20px;

        }
        @include MQ(800px){
            font-size: 14px;
            
        }
    }
}
