@import "../../../Design/variables.scss";
@import "../../../Design/mixins.scss";
#loginFirstPage {
    width: 100% !important;
    h1 {
        color: white;
        text-transform: uppercase;
        font-family: $Mont;
        font-weight: 400;
        text-align: center;
    }
    h4 {
        color: white;
        margin-bottom: 5px;
    }

    form {
        width: 100%;
        position: relative;
        input {
            width: 100%;
            box-sizing: border-box;
            border-radius: 5px;
            height: 30px;
            padding: 0 15px;
        }

        button {
          @include p;
            border-radius: 5px;
            background-color: transparent;
            font-size: 18px;
            align-self: flex-end;
            border: 1px solid white;
            width: 70px;
            position: absolute;
            right: -20px;
            bottom: -40px;

            &:hover {
                cursor: pointer;
            }
        }
    }
    div {
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        width: 100% !important;
        margin: 5px 0;
        input {
            width: 49.5%;
            box-sizing: border-box;
        }
    }
}
