@import "../../../Design/variables.scss";
@import "../../../Design/mixins.scss";

#videoHomeMobileWrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;

    span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        position: relative;
        
    }
    span div {
        border: 1px solid white;
        display: flex;
        padding: 5px;
    }

    svg {
        color: white;
        font-size: 40px;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 25px;
        top: 0;
        margin: auto;
    }

    h2 {
        color: white;
        font-size: 10px;
        text-transform: uppercase;
        font-family: $Mont;
        font-weight: 100;
        @include MQ(1170px) {
            font-size: 18px;
        }
        @include MQ(800px) {
            font-size: 14px;
        }
    }
    #arrowForward {
        right: -10% !important;
        left: auto;
        font-size: 60px;
    }
    #arrowBack {
        left: -10% !important;
        right: auto;
        font-size: 60px;
    }
    
}

// Delete once you have the real videos
.mainMobileVideos{
    min-height: 220px;
}
// Delete once you have the real videos
@include MQ(800px){
    .react-player__preview{
        height: auto !important;
    }
}
