@import "../../Design/variables.scss";
@import "../../Design/mixins.scss";

#break {
    @include MQ(1170px) {
        display: none;
    }
}
#homeVideos {
    position: relative;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include MQ(1170px) {
        height: 50vh;
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box;
        margin-bottom: -25px;
    }

    h1 {
        @include h1;
        text-align: center;
        margin-top: 50px;
        @include MinQ(1600px) {
            font-size: 36px;
        }
        @include MQ(1300px) {
            margin-top: 0px;
        }
        @include MQ(1170px) {
            font-size: 20px;
        }
        @include MQ(800px) {
            font-size: 18px;
        }
    }

    #underTitle {
        width: 75%;
        border-bottom: 1px solid white;
        justify-content: center;
        margin-top: 10px;
        @include MQ(1170px) {
            border-bottom: none;
            margin-top: 0;
        }
  
    }

    section {
        width: 42%;
        margin-top: 50px;
        @include MQ(1300px) {
            margin-top: 25px;
        }
        @include MQ(1025px) {
            width: 85%;
            margin-top: 5px;
            padding-bottom: 20px;
            border-bottom: 1px solid white;
        }
        @include MQ(800px) {
            width: 90%;
            font-size: 10px;
            margin-top: 5px;
            padding-bottom: 20px;
        }
        p,
        a {
            @include MinQ(1600px) {
                font-size: 22px;
            }
            @include p;
            font-size: 19px;
            text-align: center;
            @include MQ(1170px) {
                font-size: 18px;
            }
            @include MQ(800px) {
                font-size: 14px;
            }
        }
        a {
            font-weight: 600;
        }
    }
}

.playVideo {
    object-fit: cover;
    video {
        opacity: 1 !important;
    }
}
.pauseVideo {
    object-fit: cover;

    video {
        opacity: 0.52;
    }
}
