@import "../../Design/variables.scss";
#videoControl div {
    position: absolute;
    max-width: 800px;
    left: 0;
    right: 0;
    margin: 40px auto;

    video {
        border-radius: 10px;
    }
}

.wrapper {
    position: static !important;
    margin: 10px auto !important;
    display: flex;
    justify-content: space-evenly;
    button {
        border: 2px solid white;
        background-color: transparent;
        border-radius: 5px;
        min-width: 100px;
        height: 30px;
        color: white;
        font-family: $Roboto;

        &:hover {
            cursor: pointer;
        }
    }
}
