@import "../../Design/variables.scss";
@import "../../Design/mixins.scss";
#footerWrapper {
    width: 90%;
    border-top: 1px solid white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include MQ(1170px){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin-top: 30px
    }
    nav {
        @include flexBetween;
        width: 80%;
        margin: 10px auto;
        @include MQ(1170px) {
            display: none;
        }
        a {
            @include navLink;
            @include MinQ(1600px){
                font-size: 24px
            }
            
        }
    }

    #footerLogo {
        margin-top: 20px;
        margin-bottom: 5px;
        max-width: 130px;
        @include MinQ(1600px){
            max-width: 180px;
        }
        @include MQ(1170px) {
            max-width: 80px;
            margin-top: 0;
            margin-left: 30px;
        }
    }
    div {
        width: 120px;
        position: absolute;
        bottom: 5px;
        right: -50px;
        @include MQ(1170px) {
            width: 100px;
           position:static;
           display: flex;
           justify-content: center;
           margin-right: 30px;
          
        }
        section {
            height: 25px;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
            @include MQ(1170px) {
                height: 10px;
                width: 100%;
                align-items: center;
                justify-content: space-between;
            }
        }
        a {
            width: 20%;
            margin: 0 5px;
            @include MQ(1170px) {
                width: 50%;
                margin: 2px;
            }
        }
        img {
            width: 90%;
            margin: 0 5px;
        }
        p {
            @include p;
            font-size: 10px;
            margin: -10px 0;

            @include MQ(1170px) {
               display: none;
            }
        }
    }
}
