@import "../../Design/variables.scss";
@import "../../Design/mixins.scss";

#whatWeDo {
    position: relative;
    width: 100%;
    height: 95vh;
    padding-top: 30px;
    @include MQ(1025px) {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        height: 50vh;
    }

    header {
        color: white;
        h1 {
            font-family: $Mont;
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;
            padding-top: 40px;
            @include MinQ(1600px) {
                font-size: 45px;
            }
            @include MQ(1025px) {
                font-size: 20px;
            }
            @include MQ(800px) {
                font-size: 18px;
            }
        }
        p {
            @include p;
            width: 40%;
            text-align: center;
            margin: 0 auto;
            @include MinQ(1600px) {
                font-size: 20px;
            }
            @include MQ(1025px) {
                width: 80% !important;
                font-size: 16px;
            }
            @include MQ(800px) {
                width: 80% !important;
                font-size: 14px;
            }
        }
    }

    main {
        display: flex;
        justify-content: space-between;
        margin: 50px auto;
        width: 80%;
        @include MinQ(1600px) {
            margin-bottom: 100px;
        }
        @include MQ(1025px) {
            display: flex;
            flex-wrap: wrap;
            width: 60%;
            margin: 20px auto;
        }
        @include MQ(800px) {
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            margin: 20px auto;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 300px;
            @include MQ(1025px) {
                max-width: 200px !important;
            }
            @include MQ(800px) {
                max-width: 170px !important;
            }
        }
        p {
            @include p;
            text-align: center;
            margin: 0 auto;
            font-size: 14px;
            @include MinQ(1600px) {
                font-size: 18px;
            }
            @include MQ(1025px) {
                font-size: 12px;
            }
            @include MQ(800px) {
                font-size: 10px;
            }
        }
    }
    img {
        max-width: 150px;
        @include MinQ(1600px) {
            max-width: 200px;
        }
        @include MQ(1025px) {
            max-width: 110px;
        }
        @include MQ(800px) {
            max-width: 70px;
        }
    }
    #laptopImageWrapper {
        margin: 1px 0 -40px 0;
        @include MQ(1025px) {
            margin: 60px 0 -50px 0;
        }
        @include MQ(800px) {
            margin: 60px 0 -50px 0;
        }
    }
    #laptopImageWrapper p {
        @include MQ(1025px) {
            width: 220px;
        }
        @include MQ(800px) {
            width: 160px;
        }
    }
    #laptopImage {
        max-width: 220px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 15px;

        @include MinQ(1600px) {
            max-width: 260px;
            margin-top: 40px;
            margin-bottom: 30px;
        }
        @include MQ(1025px) {
            max-width: 150px;
            margin-bottom: 5px;
        }
        @include MQ(800px) {
            max-width: 100px;
            margin-bottom: 5px;
        }
    }

}
