@import "../../Design/variables.scss";

#highlightsContainer{
    height: 100vh;
    overflow: hidden;
    
   
     @include MQ(800px) {
        height: auto;
     }
}
#highlightsWrapper {
    position: relative;
    // height: 100vh;
    margin: 0;
   
    .clubInfo {
        width: 90%;
        margin: 0 auto;
        padding-right: 5px;
        font-size: 19px;
        @include MinQ(1600px){
            margin-top: 20px;
         }
        @include MQ(1170px) {
            margin: 30px 0;
            width: 90%;
            // border-bottom: 1px solid white;
            // padding-bottom: 20px;

        }
      
        p {
            @include MinQ(1600px){
                font-size: 18px;
             }
            @include MQ(1070px) {
                font-size: 18px;
                text-align: center;

            }
            @include MQ(800px) {
                font-size: 14px;
                text-align: center;

            }
        }
    }
    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 0 auto;
        align-items: flex-start;
        #reversed {
            display: grid;
            grid-template-columns: 1.2fr 1fr;
            justify-content: start;
            justify-items: start;
            @include MQ(1170px) {
                display: flex;
                flex-direction: column-reverse;
                border-top: 1px solid white;
                padding-top: 20px;
                width: 80%;
                margin: 0 auto;
            }
        }
        @include MQ(1170px) {
            display: flex;
            flex-direction: column;
        }
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        #highlightsVideo {
            @include MinQ(1600px){
                margin-top: 20px;
             }

            h1 {
                text-transform: uppercase;
                font-family: $Mont;
                font-weight: 500;
                margin: 0;
                font-size: 1.5em;

                @include MQ(1070px) {
                    font-size: 22px !important;
                }
                @include MQ(800px) {
                    font-size: 20px !important;
                }
            }

            div {
                border: 1px solid white;
                position: relative;
                height: 320px;
                @include MinQ(1600px){
                    width: 105%;
                    height: 400px;
                 }
                @include MQ(1170px) {
                    max-height: 300px;
                    width: 100%;
                }
                @include MQ(800px) {
                    max-height: 200px;
                    width: 110%;
                }
                video {
                    padding: 0 5px;
                     height: 100%;
                     object-fit: cover;
                    opacity: 0.52;
                    @include MinQ(1600px){
                     max-height: 800px;
                     }
                     
                }

                svg {
                    color: white;
                    font-size: 64px;
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    @include MinQ(1600px){
                        font-size: 84px;
                     }
                    &:hover {
                        cursor: pointer;
                    }
                    @include MQ(1070px) {
                        font-size: 68px;
                    }
                    @include MQ(800px) {
                        font-size: 52px;
                    }
                }
            }
            h5 {
                color: white;
                text-transform: uppercase;
                font-family: $Roboto;
                font-size: 20px;
                font-weight: 500;
                margin: 5px;
                @include MinQ(1600px){
                    font-size: 24px
                 }
                @include MQ(1070px) {
                    font-size: 18px;
                }
                @include MQ(800px) {
                    font-size: 14px;
                }
            }
        }
        img {
            margin-top: 20px;
            margin-right: 40%;
            width: 30%;
        }
    }
    #highlightsInfo {
        align-self:flex-start;
        @include MinQ(1600px){
            margin-top: 30px;
         }
        h1 {
            @include MinQ(1600px){
                font-size: 40px !important;
             }
            @include MQ(1070px) {
                font-size: 22px !important;
                margin-top: 5px;
            }
            @include MQ(800px) {
                font-size: 20px !important;
            }
        }
        h1,
        h4 {
            color: white;
            font-family: $Mont;
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 0;
            @include MinQ(1600px){
                font-size: 20px;
             }
        }
        h4 {
            margin: 0;
            font-size: 18px;
            margin-top: -6px;
            @include MQ(1070px) {
                font-size: 18px;
            }
            @include MQ(800px) {
                font-size: 14px;
            }
        }
        p {
            color: white;
            font-family: $Roboto;
            font-weight: 500;
            text-align: center;
            width: 80%;
            font-size: 19px;
            margin: 8px;
            @include MinQ(1600px){
                font-size: 18px;
             }
            @include MQ(1170px) {
                font-size: 18px;
                width: 92%;
                margin-top: 5px !important;
                margin-bottom: 30px !important;
            }
            @include MQ(800px) {
                font-size: 14px;
                width: 95%;

              
            }
        }
        :last-child {
            margin-top: 40px;
        }
    }

    #mobBreak {
        display: none;
      
        @include MQ(800px) {
            display: block;
        }
    }
}

.pouseMyClubVideo {
    video {
        opacity: 0.52 !important;
    }
}
.playMyClubVideo {
    video {
        opacity: 1 !important;
    }
}
