@import '../../Design/variables.scss';
#Wraper_404{
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 60%;
 margin: 200px auto;
color: white;

 h1,p,a{
    font-family: $Roboto;
 }
 h1{
     font-size: 82px;
     text-transform: uppercase;
 }

 p,a{
     font-size: 24px;
 }

 a{
     color: white;
     text-transform: capitalize;
     font-weight: 600;
 }
 #Logo_404 {
     width: 600px;

     img{
         width: 100%;
     }
 }
}

