@import "../../Design/variables.scss";
@import "../../Design/mixins.scss";
#higlightsVideosVideosWrapper {
    margin-top: 20px;
    @include MinQ(1600px) {
        height: 50vh;
    }
    @include MQ(1280px) {
        margin-top: 40px;
    }

    h1 {
        @include h1;
        margin: 0;
        font-size: 18px;
        padding-right: 120px;
    }
    .oneTitle {
        width: 65%;
        margin: 0 auto;
        @include MinQ(1600px) {
            font-size: 20px;
        }
        @include MQ(1170px) {
            width: 90%;
            font-size: 14px;
            padding-left: 20px;
        }
        @include MQ(800px) {
            font-size: 12px;
        }
    }

    div {
        width: 70%;
        margin: 0 auto;
        border-top: 1.4px solid white;
        border-bottom: 0.1px solid white;
        box-sizing: border-box;

        .videosWrapper {
            display: flex;
            justify-content: center;
            overflow-x: scroll;
            overflow-y: scroll;
            width: 80%;
            scrollbar-width: none;
            padding-left: 400px;
            border: none;
            &::-webkit-scrollbar {
                display: none;
            }
            @include MQ(1070px) {
                width: 95%;
                overflow-x: scroll;
                scroll-direction: horizontal;
                border-bottom: 1px solid white;
                margin-bottom: 10px;
                padding-left: 200px;
            }
            @include MQ(800px) {
                width: 95%;
                margin-bottom: 10px;
                padding-left: 500px;
            }
        }

     
        @include MQ(1170px) {
            width: 95%;
          
        }
        section {
            width: 210px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            margin: 20px 20px 0 20px;
            @include MinQ(1600px) {
                width: 250px;
            }
            @include MQ(1170px) {
                width: 100px;
                margin: 15px 20px 5px 20px;
            }

            p {
                color: white;
                font-family: $Mont;
                font-weight: 500;
                text-align: center;
                white-space: nowrap;
                text-transform: uppercase;
                margin: 15px 5px 2px 5px;
                font-size: 0.9em;
                @include MinQ(1600px) {
                    font-size: 1.1em;
                    margin-top: 15px;
                }
                @include MQ(1070px) {
                    font-size: 12px;
                }
                @include MQ(800px) {
                    font-size: 10px;
                }
            }

            .videoBox {
                position: absolute;
                bottom: 8px;
                left: -20px;
                width: 125%;
                @include MinQ(1600px) {
                    width: 220px;
                    height: 220px;
                    left: -25px;
                    bottom: 11px;
                }
                @include MQ(1170px) {
                    bottom: 12px;
                    left: -15px;
                    width: 135px;
                }
            }

            video {
                width: 150px;
                object-fit: cover;
                height: 150px;
                opacity: 0.52;
                @include MinQ(1600px) {
                    width: 160px;
                    height: 160px;
                }
                @include MQ(1170px) {
                    width: 100px !important;
                    height: 100px !important;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}
