@import "../../../Design/mixins.scss";
.nav {
    width: 50%;
    @include flexBetween;
    padding: 0;
    @include MQ(1280px) {
        width: 65%;
    }
    @include MQ(1180px) {
        width: 80%;
    }
    a {
        @include navLink;
        @include MinQ(1600px){
            font-size: 24px
        }
        @include MQ(1180px) {
            font-size: 1rem;
        }
    }
}
.authNav {
    width: 65%;
}
