@import "../../Design/variables.scss";
@import "../../Design/mixins.scss";
#loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
    width: 40%;

    @include MQ(1170px) {
        width: 60%;
    }
    @include MQ(800px) {
        width: 100%;
    }

    h3 {
        font-family: $Roboto;
        font-weight: 100;
        color: white;
        text-transform: capitalize;
        margin: 0;
        font-size: 26px;
    }
    img {
        width: 250px;
        @include MinQ(1600px){
            width: 300px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-top: 30px;
        @include MinQ(1600px){
           margin-top: 40px;
        }
        @include MQ(1170px) {
            width: 80%;
        }
    }
    input {
        box-sizing: border-box;
        border-radius: 5px;
        height: 28px;
        width: 100%;
        margin-top: 0;
        margin-bottom: 5px;
        padding: 0 15px;
        outline: none;
        font-family: $Roboto;
        @include MinQ(1600px){
            font-size: 18px;
            height: 32px;
        }
    }
    button {
        color: white;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        width: 70px;
        height: 28px;
        font-family: $Roboto;
        align-self: flex-end;
        margin-top: 5px;
        @include MinQ(1600px){
            font-size: 18px;
            width: 90px;
        }

        &:hover {
            cursor: pointer;
        }
    }
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    p,
    b {
        color: white;
        margin: 0;
        text-align: center;
        width: 80%;
        @include p;
        @include MinQ(1600px){
            font-size: 18px;
        }
    }
    b {
        text-decoration: 2px solid underline;
        padding-left: 5px;
        &:hover {
            cursor: pointer;
        }
    }
}
