@import './variables.scss';
@mixin p {
    font-family : $Roboto;
    color: #ffff;
};

@mixin navLink {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: $Mont;
    font-size: 1.1rem;
}

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
}

@mixin  h1 {
    color: white;
    text-transform: uppercase;
    font-family: $Mont;
    font-weight: 500;
}