@font-face {
    font-family: "Mont-ExtraLight";
    src: url(../Assets/fonts/Mont-ExtraLight.otf) format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url(../Assets/fonts/Roboto-Light.ttf) format("truetype");
}
@font-face {
    font-family: "RobotoThin";
    src: url(../Assets/fonts/Roboto-Thin.ttf) format("truetype");
}

//FONTS
$Mont: "Mont-ExtraLight";
$Roboto: "Roboto";
$RobotoThin:"RobotoThin";

//COLORS

$background: #141414;
$stripe: #1c1c1c;

@mixin MQ($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}
@mixin MinQ($arg) {
    @media screen and (min-width: $arg) {
        @content;
    }
}
@mixin MH($arg) {
    @media screen and (max-height: $arg) {
        @content;
    }
}
@mixin MinH($arg) {
    @media screen and (min-height: $arg) {
        @content;
    }
}
