@import './Design/variables.scss';
html {
  scroll-behavior:smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
input {
  outline: none;
}

.clubInfo {
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin-right: 12%;
  p {
      color: white;
      font-family: $Roboto;
      margin-bottom: 5px;
  }
}