@import '../../Design/variables.scss';
#teamLineUpWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: 0px auto;
    padding-bottom: 30px;
    div {
        text-align: center;
        width: 400px;
        h3,h1{
            color: white;
            font-family: $Mont;
            font-weight: 500;
            text-transform: uppercase; 
        }
        div {
            display: flex;
            justify-content: space-between;
            width: 100%;
       :first-child{
        text-align: left;
       }
       &:last-child{
        text-align: right;
       }
            p{
                color: white;
                font-family: $Roboto;
            }
        }
    }
    #scoreCard{
        background-color: #96979E;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 55%;
        height: 300px;
        box-sizing: border-box;

        div{
            border: 2px solid #1D1D1D;
            height: 95%;
            width: 97%;
            border-radius: 10px;
      

        }
        h3{
            text-align: center;
            width: 80%;
            margin: 10px auto;
        }  
    }
}
