@import '../../Design/variables.scss';
@import '../../Design/mixins.scss';

#admin{

    
        main {
            margin-top: 5%;
            width: 100%;
            p{
                font-size: 19px;
               @include p;
                font-weight: 400;
                width: 28%;
                margin: 0 auto;
                text-align: center;
                @include MQ(1280px){
                    font-size: 14px;
                }
            }
                .whiteLine{
                    height: 1px;
                    width: 70%;
                    background-color: white;
                    margin: 0 auto;
                    margin-bottom: 80px;
                }
            nav{
                width: 90%;
                margin: 80px auto 0 auto;
                display: flex;
                justify-content: space-around;
                align-items: center;

                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 10px 0 20px 0;

                    &:hover{
                        cursor: pointer;
                    }
                }

                img{
                    max-width: 50px;
                    @include MQ(1280px){
                        max-height: 50px;
                    }
                }
                h2{
                    color: white;
                    font-family: $Roboto;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 20px;
                    @include MQ(1280px){
                        font-size: 16px;
                    }
                }
            }
        }
   
}