@import "../../Design/variables.scss";
@import "../../Design/mixins.scss";
#myClubWrapper {
    position: relative;
    height: 100vh;
    margin: 0;
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        align-items: flex-start;
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
        }
        #myClubVideo {
            margin-top: -25px;
            h1 {
                color: white;
                text-transform: uppercase;
                font-family: $Mont;
                font-weight: 500;
                margin: 0;
                font-size: 1.5em;
                @include MQ(1280px){
                    font-size: 20px;
                }
                
            }

            div {
                border: 1px solid white;
                position: relative;
                video {
                    padding: 5px;
                    max-height: 300px;
                    opacity: 0.52;
                    object-fit: cover;

                    @include MQ(1280px){
                        max-height: 150px;
                    }
                }

                svg {
                    color: white;
                    font-size: 64px;
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    @include MQ(1280px){
                        font-size: 52px;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            h5 {
                color: white;
                text-transform: uppercase;
                font-family: $Mont;
                font-weight: 500;
                margin: 5px;
                @include MQ(1280px){
                    font-size: 14px;
                }
                
            }
        }
        img {
            margin-top: 20px;
            margin-right: 40%;
            width: 30%;
            
        }
    }
    #myClubIfno {
        margin-top: 30px;
        p {
            @include p;
            text-align: center;
            width: 70%;
            margin: 8px;
            @include MQ(1280px){
                font-size: 14px;
            }
        }
        :last-child {
            margin-top: 40px;
        }
    }
}

.pouseMyClubVideo {
    video {
        opacity: 0.52 !important;
    }
}
.playMyClubVideo {
    video {
        opacity: 1 !important;
    }
}
