@import "../../Design/variables.scss";
@import "../../Design/mixins.scss";
#myClubPageWrapper {
    position: relative;
    height: 100vh;
    margin: 0;

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: flex-start;

        .clubInfo {
            p{
                width: 100%;
                font-size: 19px;
                @include MQ(1280px){
                    font-size: 14px;
                }
            }
        }
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        #myPageClubVideo {
            margin-top: -25px;
            
            h1 {
                color: white;
                text-transform: uppercase;
                font-family: $Mont;
                font-weight: 500;
                margin: 0;
                font-size: 1.5em;
                
            }

            div {
                border: 1px solid white;
                padding:0 3px;
                position: relative;
              
                video {
                    padding:0 10px;
                    opacity: 0.52;
                    @include MQ(1280px){
                        max-height: 200px;
                        object-fit: cover;
                    }

                }

                svg {
                    color: white;
                    font-size: 64px;
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    @include MQ(1280px){
                        font-size: 54px;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            h5 {
                color: white;
                text-transform: uppercase;
                font-family: $Mont;
                font-weight: 500;
                margin: 5px;
                font-size: 20px;
                @include MQ(1280px){
                    font-size: 14px;
                }
            }
        }
        img {
            margin-top: 0px;
            margin-right: 45%;
            width: 35%;
            @include MQ(1280px){
                width: 25%;
                margin-right: 20%;
            }
        }
    }
    #myPageClubInfo {
        margin-top: -20px;
        h1,h2{
            color: white;
            font-family: $Mont;
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;
            margin-bottom: 5px;
            
        }
        h1{
            letter-spacing: 0.001px;
            @include MQ(1280px){
                font-size: 20px;
            }
        }
        h2{
            margin-top: 4px;
            @include MQ(1280px){
                font-size: 18px;
                width: 70%;
            }
        }
        p { 
            @include p;
            text-align: center;
            font-size: 18px; 
            width: 70%;
            text-decoration: underline 1px solid white;
            

            &:hover{
                cursor: pointer;
            }
        }
       
    }
}

.pouseMyClubVideo {
    video {
        opacity: 0.52 !important;
    }
}
.playMyClubVideo {
    video {
        opacity: 1 !important;
    }
}
