@import "../../Design/variables.scss";
@import "../../Design/mixins.scss";

#homeVideos {
    position: relative;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: white;
        text-transform: uppercase;
        font-family: $Mont;
        text-align: center;
        font-weight: 500;
        margin-top: 50px;
    }

    div {
        display: flex;
        width: 96%;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        video {
            width: 100%;
            height: 150px;
            object-fit: cover;
            opacity: 0.52;
        }
        span {
            max-width: 150px;
            position: relative;
        
            p {
                color: white;
                font-family: $Mont;
                font-weight: 500;
                text-align: center;
                text-transform: uppercase;
            }

            .videoBox{
                position: absolute;
                bottom: 28px;
                left: -30px;
                width: 140%;
            }
            .secondVideoBox{
                position: absolute;
                bottom: 15px;
                left: -40px;
                width: 140%;
               
            }
        }

        #centralVideo {
            border: 1px solid white;
            max-width: 600px !important;
            height: 300px;
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        

            svg {
                color: white;
                font-size: 64px;
                position: absolute;
                z-index: 1;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                margin: auto;
            }
        }
        .secondVideo {
            max-width: 200px;

            video {
                width: 100%;
                object-fit: cover;
                height: 200px;
            }
        }
    }
    #underTitle {
        width: 75%;
        border-bottom: 1px solid white;
        justify-content: center;

        h2 {
            font-family: $Mont;
            font-weight: 500;
            margin-top: -20px;
            margin-bottom: 10px;
            color: white;
            text-transform: uppercase;
        }
    }

    section {
        width: 35%;
        margin-top: 50px;
        p,
        a {
            @include p;
            text-align: center;
        }
        a {
            font-size: 18px;
        }
    }
}

.playVideo {
    object-fit: cover;
    video {
        opacity: 1 !important;
    }
}
.pauseVideo {
    object-fit: cover;

    video {
        opacity: 0.52;
    }
}